{% extends 'base.html.twig' %}

{% block title %}Nouveau Passage{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="h3 mb-0">
                        <i class="fas fa-plus-circle"></i> Créer un nouveau passage
                    </h1>
                </div>
                <div class="card-body">
                    {{ include('passage/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}